<div class="page-header">
    <h1>About <small>executive summary of our product</small></h1>
</div>

<p>The product presented is an electronic chess board that aims to solve to problem of chess enthusiasts not having a convenient way to watch chess matches. The board is capable of detecting when magnetic pieces are moved and transmitting live chess matches over the Internet without the need for any drivers or platform specific software. Those interested in watching the live chess match only need a modern web-browser and an Internet connection. To achieve this, a server connected to the Internet will be used as a middle-man. The electronic chess board will send the chess moves to the server, and the website will read from the server’s database to graphically display the chess match on an Internet browser. Our system also has the unique feature of visually displaying valid moves to player when a piece is raised with lights located throughout each square on the board.</p>

<p>Current and potential customers for Boardcaster include chess tournament organizers, any chess player from professionals to very beginners and due to the open hardware/software nature of your product, we expect to attract people interested in expanding the feature set of the electronic board, the firmware and the server side software. The market we’re targeting is very large because chess is one of the world's most popular games.</p>

<p>The team succeeded in developing an open-hardware and free and open source software which makes the product very customizable. It is also portable due to our battery powered design, wireless, real-time, easy to use and low cost compared to similar products.</p>
