<div class="page-header">
    <h1>Contact us <small>we love feedback</small></h1>
</div>

<p>You can contact us by <a href="mailto:capstone@lists.sparragus.com">sending an email</a> to our mailing list.</p>
