<div class="hero-unit">
<h1>Boardcaster!</h1>

<p>The board is capable of detecting when magnetic pieces are moved and transmitting live chess matches over the Internet without the need for any drivers or platform specific software. Those interested in watching the live chess match only need a modern web-browser and an Internet connection.</p>

<% if current_user %>
<%= content_tag :p, link_to("View Games", games_path, :class=> "btn success large  pull-right") %>
<% else %>
<%= content_tag :p, link_to("Register Now!", signup_path, :class=> "btn primary large pull-right") %>
<% end %>

</div> <!--end hero-unit-->
