<div class="page-header">
	<h1><%= @game.title %></h1>
</div>

<ul>
<li><strong>White Player: </strong><%= @white.username %></li>
<li><strong>Black Player: </strong><%= @black.username %></li>
</ul>
