/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/*Text box for comments*/
textarea#message_area {
  width: 400px;
  height: 100px;
}

/*Compensate for the 40px the top header takes */
.compensation{
	margin-top: 65px;
}

/*Remove underline from title text in the header */
.topbar-inner a:hover{
	text-decoration: none;
}

/*Working with the chessboard */
.chess-board {
  margin: 0 auto;
  position: relative;
  background: transparent url(/assets/chess-sets/bw-board.gif) no-repeat 0 0;
  width: 344px;
  height: 344px;
}

.chess-board div {
  position: absolute;
	vertical-align: top;
	width: 43px;
	height: 43px;
	padding: 0; margin: 0;
}

.chess-board .wP { background: transparent url(/assets/chess-sets/acmaster.gif) -1px -1px; }
.chess-board .wN { background: transparent url(/assets/chess-sets/acmaster.gif) -46px -1px; }
.chess-board .wB { background: transparent url(/assets/chess-sets/acmaster.gif) -91px -1px; }
.chess-board .wR { background: transparent url(/assets/chess-sets/acmaster.gif) -136px -1px; }
.chess-board .wQ { background: transparent url(/assets/chess-sets/acmaster.gif) -181px -1px; }
.chess-board .wK { background: transparent url(/assets/chess-sets/acmaster.gif) -226px -1px; }

.chess-board .bp { background: transparent url(/assets/chess-sets/acmaster.gif) -1px -46px; }
.chess-board .bn { background: transparent url(/assets/chess-sets/acmaster.gif) -46px -46px; }
.chess-board .bb { background: transparent url(/assets/chess-sets/acmaster.gif) -91px -46px; }
.chess-board .br { background: transparent url(/assets/chess-sets/acmaster.gif) -136px -46px; }
.chess-board .bq { background: transparent url(/assets/chess-sets/acmaster.gif) -181px -46px; }
.chess-board .bk { background: transparent url(/assets/chess-sets/acmaster.gif) -226px -46px; }