<footer class="footer">
  <div class="container">
	<p class="pull-right">
		<a href="#">Back to top</a>
	</p>
	<p>	
		<%= link_to "About", about_path %> - 
		<%= link_to "Help", 	help_path %> - 
		<%= link_to "Contact", contact_path %>
	</p>
  </div>
</footer>

<!-- &copy; ACM5PT 2011 -->